/*
 * Assignment 02
 * CSS FILE
 */
body {
  font-family: Calibri;
  background-color: #ffffff;
}

.flex-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;           
  padding: 1rem;
  background-color: hsl(202, 100%, 82%);
  color: #420909;
  gap: 24px;
  font-size: 30px;
}
.brand-name {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 10px;
  font-size: 20px;
}
.brand-name img {
  height: 60px;
  width: 60px;
}
.main-nav ul {
  display: flex;
  list-style: none;
  margin-left: 5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 35px;
}
.main-nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.main-nav a:hover {
  text-decoration: underline;
  color: #FF865E;
}


.hero {
  text-align: center;
  padding-left: 2rem;
  background-color: white;
  padding-top: 1rem;
}
.hero-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  padding-bottom: 1rem;
}
.hero h1 {
  font-size: 40px;
  text-decoration: underline;
  color: #420909;
  background-color: rgb(255, 239, 93);
  border-radius: 15px;
  padding: 1rem;
}
.hero-message {
  margin-top: 20px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #420909;
  font-weight: 400;
  font-size: 18px;
  padding-inline: 15rem;
  background-color: #a3ddff;
  width: 100vw;
  margin-inline: 5rem;
}
.hero-closing-message {
  font-size: 23px;
  background-color: #FEF9EF;
  border-radius: 15px;
}
.hero-stuff img {
  margin-top: 1rem;
  display: block;
  width: 750px;
  height: 300px;
}



.adoptions-available {
  color: #420909;
  background-color: #FEF9EF;
}
.adoptions-available h2 {
  padding: 0.75rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 15px;
  font-size: 30px;
  text-decoration: underline;
  background-color: #ffef5d;
  display: inline-block;
  border-radius: 15px;

}
.flex-pet-container {
  padding-inline: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 4rem;
  margin-top: 0rem;
  align-items: stretch;
}
.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fef1db;
  border: 3px dashed #FF865E;
  padding: 1rem;
  border-radius: 15px;
  width: 300px;
}
.pet-price {
  font-weight: 800;
  font-size: 20px;
  text-decoration: overline;
}
.pet p {
  font-size: 18px;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}
.pet img {
  width: auto;
  height: 180px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.pet ul {
  padding-left: 1.5rem;
  text-align: left;
  padding-top: 0rem;
}
.pet li {
  font-size: 16px;
}
.testimonial-whole {
  margin-bottom: 0rem;
  color:#420909;
  display: flex;
  flex-direction: column;
  background-color: #FF865E;
  padding: 1rem;
  gap: 1rem;
}
.testimonial-layout {
  display: flex;
  background-color: #FEF9EF;
  border-radius: 25px;
  gap: 0.5rem;
  padding: 0.5rem;
}
.testimonial-layout img {
  border-radius: 24px;
  padding: 1rem;
}
.testimonial-whole h2 {
  margin: 5px;
  padding-left: 2rem;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  background-color: #ffef5d;
  border-radius: 15px;
}
.testimonial h3 {
  color:#420909;
  font-size: 30px;
  text-align: left;
  padding-top: 2rem;
}
.testimonial p {
  margin-top: 0rem;
  font-size: 18px;
  text-align: left;
  font-style: italic
}
.testimonial blockquote {
  font-size: 20px;
  margin-top: 1rem;
  text-align: left;
}
.testimonial {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.owner-quote-whole {
  margin-top: auto;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding: 1rem;
  border: 3px dashed #7fcffe;
  border-radius: 10px;
}
.owner-quote-title {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.owner-quote-description {
  padding-bottom: 1rem;
}



.pet-preparations {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #FEF9EF;
}
.pet-preparations h2 {
  display: inline-block;
  color: #420909;
  background-color: #ffef5d;
  padding: 1rem;
  padding-inline: 1rem;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  border-radius: 15px;
}
.pet-preparations p {
  margin-top: 0.5rem;
  color: #420909;
  font-size: 25px;
  font-weight: 400;
  padding-inline: 1rem;
}
#essentials-list {
  font-style: italic;
  font-weight: 600;
}


.faq {
  margin-top: 1rem;
  background-color: #ffffff;
  padding: 1rem;
}
.faq h2 {
  color: #420909;
  margin-inline: 1rem;
  font-size: 30px;
  text-decoration: underline;
  background-color: #ffef5d;
  padding: 1rem;
  display: inline-block;
  border-radius: 15px;
}
.faq-pair {
  color: #420909;
  background-color: #FEF9EF;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 1rem;
  padding: 0.5rem;
}
.faq-q {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #fef1db;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.faq-a {
  font-size: 20px;
  margin-left: 0.5rem;
}



.call-to-action-container {
  color: #420909;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-to-action-container button {
  color: #420909;
  font-size: 25px;
  font-weight: 600;
  align-self: center;
  text-decoration: underline;
  background-color: #ffef5d;
  border: 2px #ffef5d outset; 
  padding: 0.5rem;
  border-radius: 15px;
}
.subscribe-button:hover {
  background-color: #efdb28;
}
.call-to-action-container p {
  max-width: 60rem;
  margin: 1rem auto;
  text-align: center;
}
.flex-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #a3ddff;
  color: #420909;
  gap: 24px;
  font-size: 20px;
}
.footer-nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
  margin: 0;
  padding: 0;
}
.footer-nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.footer-nav a:hover {
  text-decoration: underline;
  color: #FF865E;
}
.site-footer {
  background-color: #a3ddff;
  padding: 1rem;
  text-align: left;
}

.site-footer address {
  margin-top: 0rem;
  font-size: 18px;
  color: #420909;
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.copyright {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: 100;
}
