
html, body {
  font-family: Verdana;
  font-size: medium;
}

.title-section {
  display: flex;
  justify-content: center;
  color: rgb(232, 135, 0);
}

body {
  background-color: #fff7da;
  color: #654321;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightyellow;
}

ul {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
}
/*HTML updated, no long have class="top-bar"*/
.top-bar {
  width: 100%;
  background-color: rgb(232, 135, 0);
  color: #fff7da;
  padding: 15px;
  font-size: 20px;
}

.title {
  font-family: Century;
  font-weight: 700;
  font-size: 50px;
  color: rgb(232, 135, 0);
  margin-inline-start: 30rem;
}

.apple-decor1, .apple-decor2 {
    position: fixed;
    width: 120px;
    opacity: 0.9;
    pointer-events: none; 
}

.apple-decor1 {
    top: 340px;
    left: 10px;
}
.apple-decor2 {
    top: 340px;
    right: 10px;
    transform: scaleX(-1);
}

.rules1,
.rules2 {
  margin-top: 0.5;
  padding: 0.5rem 0.5rem;
}
#Points,
#Points ul {
  margin-top: 0.5rem;
  color: rgb(55, 215, 14);
  margin-bottom: 0rem;
}


.RulesControlsPoints h2{
  font-size: medium;
  margin-top: 2rem;
  margin-bottom: 0.35rem;
}
.RulesControlsPoints p {
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.RulesControlsPoints ul {
  margin: 0%;
}
.VideoDemo h2 {
  font-size: larger;
  margin-top: 4rem;
  color: rgb(217, 40, 40); /*TEMPORARY COLOUR*/

}



/*BUTTON AND BELOW: */
button {
  padding: 12px 24px;
  background: #654321;
  border: none;
  border-radius: 8px;
  color: rgb(232, 135, 0);
  font-size: 16px;
  transition: transform 0.2s ease;
}
button:hover {
  transform: scale(1.06);
}


.FooterCopyright {
 margin-top: 1.5rem;
  width: 100%;
  background-color: rgb(232, 135, 0);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}
