
html, body {
  font-family: Verdana;
  font-size: medium;
}

body {
  background-color: #fff7da;
  color: #654321;
  margin: 0;
  padding: 0;
}

/*HTML updated, no long have class="top-bar"*/
.top-bar {
  width: 100%;
  background-color: rgb(232, 135, 0);
  color: #fff7da;
  padding: 15px;
  font-size: 20px;
}

.title {
  font-family: Century;
  font-weight: 700;
  font-size: 50px;
  color: rgb(232, 135, 0);
  margin-inline-start: 30rem;
}

body {
  background-color: lightyellow;
}

.ControlsPoints h2{
  font-size: medium;
  margin-top: 2rem;
  margin-bottom: 0.35rem;
}
.ControlsPoints p {
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.ControlsPoints ul {
  margin: 0%;
}
.VideoDemo h2 {
  font-size: larger;
  margin-top: 4rem;
  color: rgb(217, 40, 40); /*TEMPORARY COLOUR*/

}



/*BUTTON AND BELOW: */
button {
  padding: 12px 24px;
  background: #654321;
  border: none;
  border-radius: 8px;
  color: rgb(232, 135, 0);
  font-size: 16px;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.06);
}


.footer {
  width: 100%;
  background-color: rgb(232, 135, 0);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}
