html, body {
  font-family: Verdana;
  font-size: small;
}

.title {
  font-family: Century;
  font-weight: 700;
  font-size: 50px;
  color: rgb(232, 135, 0);
  margin-inline-start: 30rem;
}

.Description {
    font-size: medium;
}

.GOAL-Description {
    font-weight: 550
}