#my-canvas {
    border: 3px solid rgb(183, 38, 38);
}

html,
body {
  font-family: Verdana;
  font-size: medium;
}


/*INTRO PAGE FLEX BOX*/
body {
  color: #654321;
  margin: 0, auto;
  text-align: center;
  background-color: lightyellow;
}

ul {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
  margin-top: 0rem;
}

.title {
  font-family: Calibri;
  font-weight: 700;
  font-size: 40px;
  color: rgb(232, 135, 0);
  margin-bottom: 0.25rem, auto;
}


/*INSTRUCTIONS*/
#Description {
  font-size: 25px;
}

.image-row {
  margin-bottom: 2rem;
}

.Instructions-Controls {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  border: 3px solid orange;
  margin-top: 0rem;
  margin-inline: 2rem;
  max-width: 60%;   /* shrink to 80% of parent */
  margin: 0 auto;   /* center it horizontally */
}

.Instructions-Controls h2 {
  font-size: x-large;
  text-decoration: underline;
  margin-bottom: 0rem;
}
.Instructions-Controls p {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 18px;
}
#Controls {
  margin-top: 2rem;
}
#Instru-note p {
  margin-top: 0.25rem;
}

.VideoDemo h2 
{
  font-size: 36px;
  font-family: 'Calibri';
  font-weight: 800;
  margin-top: 4rem;
  color: rgb(217, 40, 40);
  /*TEMPORARY COLOUR*/
  text-decoration: underline;
  color: rgb(217, 40, 40);
  /*temp color*/
}

/*
/*GAME.HTML CSS */
/*

/*title CSS*/
#canvas-title {
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 0%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}




/*BUTTON AND BELOW: */
button {
  padding: 12px 24px;
  background: #654321;
  border: none;
  border-radius: 8px;
  color: rgb(232, 135, 0);
  font-size: 26px;
  transition: transform 0.2s ease;
  margin-bottom: 2rem;
}

.UI-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 17.5rem;
  margin-bottom: 2rem;
}

button:hover {
  transform: scale(1.06);
}

#Credits-header {
  margin-top: 2rem;
  margin-bottom: 0rem;
  text-decoration: underline;
}
.Credits-table {
  margin: 2rem auto; /* vertical spacing + horizontal centering */
  border-radius: 40px;
  background-color: rgb(255, 244, 188);
  max-width: 70%;
  text-align: center;
  padding: 1rem;
}
.Credits-table td {
  text-align: center;
  vertical-align: top;
  padding: auto;
}
.name {
  vertical-align: top;
  font-weight: 700;
  padding-top: 0.5rem;
}
.Credits ul {
  margin-top: 0.5rem;
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-weight: 200;
}
.Credits li {
  padding-left: 3rem;
}

/*Footer and Below*/
.FooterCopyright {
  margin-top: 1.5rem;
  width: 100%;
  background-color: rgb(232, 135, 0);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}
