#my-canvas {
    border: 3px solid rgb(183, 38, 38);
}

html,
body {
  font-family: Verdana;
  font-size: medium;
}


/*INTRO PAGE FLEX BOX*/

.title-section {
  display: flex;
  justify-content: center;
  color: rgb(232, 135, 0);
}

body {
  background-color: #fff7da;
  color: #654321;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightyellow;
}

.hero {
  display: fixed;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  padding-bottom: 1rem;
}

ul {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
  margin-top: 0rem;
}

.title {
  font-family: Century;
  font-weight: 700;
  font-size: 50px;
  color: rgb(232, 135, 0);
  margin-inline-start: 30rem;
}


/*Decorative Apples */

.apple-decor1,
.apple-decor2 {
  position: absolute;
  width: 200px;
  opacity: 0.9;
  pointer-events: none;
}

.apple-decor1 {
  top: 335px;
  left: 10px;
}

.apple-decor2 {
  top: 335px;
  right: 10px;
  transform: scaleX(-1);
}


/*POINTS*/
#Points,
#Points ul {
  margin-top: 0.5rem;
  color: rgb(216, 97, 42);
  margin-bottom: 0rem;
}

/*RULES*/
.Rules-Controls {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  border: 3px solid orange;
  margin-top: 0rem;
  margin-inline: 2rem;
}


.VideoDemo h2 
{
  font-size: larger;
  margin-top: 4rem;
  color: rgb(217, 40, 40);
  /*TEMPORARY COLOUR*/
  text-decoration: underline;
  color: rgb(217, 40, 40);
  /*temp color*/
}



/*BUTTON AND BELOW: */
button {
  padding: 12px 24px;
  background: #654321;
  border: none;
  border-radius: 8px;
  color: rgb(232, 135, 0);
  font-size: 16px;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.06);
}


.FooterCopyright {
  margin-top: 1.5rem;
  width: 100%;
  background-color: rgb(232, 135, 0);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}